////////////// Importamos la hoja de estilos GENERAL

@import "estilos_primario.less";




//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//                              Config. de la página                                    //
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.comedor{
    background-image: url(../media/suelo-de-parquet-de-madera.png);
}
.vip{
    background-image: url(../media/back-vip.png);
}
.terraza{
    background-image: url(../media/back-terraza.png);
    background-size: 200px;
}



.header{
    height: 15vh;
    // position: fixed;
    background-color: @secundary-color;
    position: relative;
    // z-index: 2;
    // top: 0;
    // left: 0;
    // width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    img{
        width: auto;
        height: 100%;
        // object-fit: cover;
        // padding: 10px;
        // border: 1px solid @black;
        border-radius: 50px;
        transition: all 0.2s;

        &:hover{
            transform: scale(1.1);
            transition: all 0.2s;
        }

        &:active{
            transform: scale(0.9);
        }
    }

    >div{
        display: flex;
        justify-content: end;
        width: 90%;

        @media(max-width: 1216px){
            width: 80%;
        }

        @media(max-width: 954px){
            width: 70%;
        }

        @media(max-width: 700px){
            width: 50%;
        }

        .header-svg{
            width: 30px;
            padding: 0px 20px;
            transition: all 0.2s;
            

            &:hover{
                transform: scale(1.1);
                transition: all 0.2s;
            }

            &:active{
                transform: scale(0.9);
                transition: all 0.2s;
            }

        }


    }

    h1{
        padding: 25px;
        width: 300px;
    }
}



.content{

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    height: 70vh;
    position: relative;
    // background-color: @primary-color;
    @media(max-width: 738px){
        height: auto;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .left{
        grid-column: span 2;
        // border: 2px solid @black;
        align-content: center;
        height: min-content;
        
        @media(max-width: 738px){
            grid-column: span 1;
        }

        .section-1{
            // border: 2px solid @black;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));

            @media(max-width: 735px){
                // height: auto;
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media(max-width: 381px){
                // height: auto;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            .mesa{
                padding: 15px;
                text-align: center;

                &:hover{
                    img{
                        transform: scale(1.1);
                        transition: all 0.2s;
                    }
                }

                img{
                    transition: all 0.2s;
                    width: 110px;

                    @media(max-width: 768px){
                        width: 90px;
                    }

                    @media(max-width: 738px){
                        width: 110px;
                    }

                }
                
                >form{
                    position: relative;
                }

                .btn-mesa{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    text-decoration: none;
                    align-content: center;
                    color: @black;
                    transition: all 0.2s;

                    @media(max-width: 1055px){
                        padding: 10px;
                    }

                    &:hover{
                        transform: scale(1.1);
                        transition: all 0.2s;
                    }

                }
            }
        }

        .section-2{
            display: grid;
            grid-template-columns: repeat(7, minmax(0, 1fr));
            // padding-top: 20px;

            @media(max-width: 735px){
                // height: auto;
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @media(max-width: 381px){
                // height: auto;
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            .mesa{
                padding: 20px;
                text-align: center;

                @media(max-width: 1440px){
                    padding: 0px;
                }
                @media(max-width: 425px){
                    padding: 10px;
                }

                &:hover{
                    img{
                        transform: scale(1.1);
                        transition: all 0.2s;
                    }
                }

                img{
                    transition: all 0.2s;
                    width: 70px;

                    @media(max-width: 1440px){
                        width: 60px;
                    }
                    @media(max-width: 811px){
                        width: 50px;
                    }
                    @media(max-width: 738px){
                        width: 80px;
                    }

    
                }
                
                >form{
                    position: relative;
                }

                .btn-mesa{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    text-decoration: none;
                    align-content: center;
                    color: @black;
                    transition: all 0.2s;

                    @media(max-width: 1055px){
                        padding: 10px;
                    }

                    &:hover{
                        transform: scale(1.1);
                        transition: all 0.2s;
                    }

                }
            }
        }

    }

    .section-3{
        // border: 2px solid @black;
        text-align: center;
        align-content: center;
        height: inherit;
        // padding: 60px 20px;

        img:hover{
            transform: scale(1.1);
            transition: all 0.2s;
        }

        img{
            transition: all 0.2s;
        }

        .btn-mesa{
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding: 30px;
            text-decoration: none;
            align-content: center;
            color: @black;
            transition: all 0.2s;

            @media(max-width: 1055px){
                padding: 10px;
            }


        }
        
        form{
            position: relative;
            text-align: center;
            padding: 20px 20px;

            @media(max-width: 1440px){
                padding: 10px;
            }

            &:hover{
                img{
                    transform: scale(1.1);
                    transition: all 0.2s;
                }
            }
        }

    }

    .vip{
        grid-column: span 3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .mesa{
            transform: scale(0.8);

        }

        @media(max-width: 702px){
            display: grid;
        }
        
    }

    @media(max-width: 715px){
        padding: 40px 0px;
    }

}



.footer{
    width: 100%;
    height: 15vh;
    background-color: @secundary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 715px){
        display: none;
    }

    >a{
        background-color: @third-color;
        padding: 20px;
        text-decoration: none;
        color: @white;
        border-radius: 50px;
        width: 150px;
        text-align: center;
        transition: all 0.2s;

        @media(max-width: 1222px){
            width: 130px;
            padding: 10px;
        }
        @media(max-width: 1069px){
            width: 110px;
            padding: 5px;
        }
        @media(max-width: 930px){
            width: 100px;
            padding: 5px;
        }
        @media(max-width: 818px){
            width: 90px;
            padding: 5px;
        }

        &:hover{
            background-color: @primary-color;
            transition: all 0.2s;
            color: @black;
        }

        &:active{
            transform: scale(0.9);
        }
    }

}


.footer-2{
    width: 100%;
    height: 10vh;
    // transform: translateY(200px);
    background-color: @primary-color;
    text-align: center;
    align-content: center;
    display: none;
    transition: all 0.3s;
    transform: translateY(0);
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px @black;
    padding: 10px;

    @media(max-width: 715px){
        display: block;
    }

    .desplegable{

        width: 100%;
        height: 100%;
        // align-content: center;
        padding: 40px;
        // display: block;
        // top: 0;
        // left: 0;
        // position: absolute;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));


        a{
            background-color: @third-color;
            padding: 20px;
            text-decoration: none;
            color: @white;
            border-radius: 50px;
            width: 150px;
            text-align: center;
            transition: all 0.2s;
            // margin: 20px 0px;

            &:hover{
                background-color: @primary-color;
                transition: all 0.2s;
                color: @black;
            }

            &:active{
                transform: scale(0.9);
            }
        }

    }

    .btn-desplegable{
        // width: 50%;
        background-color: transparent;
        border: 0px solid @black;
        img{
            width: 50px;
        }

        &:hover{
            transform: scale(1.05);
            transition: all 0.2s;
        }

        &:active{
            transform: scale(0.9);
            transition: all 0.2s;
        }
    }

}


.active{
    // display: block;
    // transform: translateY(-400px);
    border: 2px solid @black;
    transition: all 0.3s;
    height: 60%;
}



.contador-ocupadas{
    position: fixed;
    top: 17vh;
    right: 20px;
    padding: 10px 20px;
    background-color: @light-red;
    text-decoration: solid;
    font-size: @fs-medium;
    border-radius: 50px;
}
