
////////////// Importamos la hoja de estilos GENERAL

@import "estilos_primario.less";




//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//                              Config. de la página                                    //
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////


// --> Header, dónde irá el botón de iniciar sesión
.header{

    height: 10vh;
    // width: 100%;
    text-align: end;
    // align-items: center;
    align-content: center;
    padding: 15px;
    position: relative;     // --> Para aplicar el z-index y que todo absolute esté situado dentro de él sin dar problemas.
    z-index: 2;             // --> El z-index va por capas, 1, 2, 3, 4... Son capas que le puedes aplicar a un elemento para que se sobreponga encima de otros.
    background-color: @primary-color;


    // --> Media de tablet, hacemos que ya entre directamente a la sección de iniciar sesión sin el paso intermedio de clicar en el botón.
    @media(max-width: 768px){
        display: none;
    }


    // --> El botón del login
    .btn-login{
        display: flex;          // --> Despliegue de elementos en horizontal
        max-height: 50px;
        overflow: hidden;       // --> Oculta toda información y elemento que se encuentre situado fuera de él.
        justify-content: end;
        gap: 10px;              // --> Distancia entre elementos
        

        // --> Contenedor del SVG
        .svg-content{
            width: 4%;
            background-color: @black;
            fill: @white;               // --> Color del svg, los hilos
            border-radius: 50%;
        }



        // --> Contenedor del botón Iniciar sesión
        .texto{
            border: 2px solid @black;
            padding: 10px 15px;
            border-radius: 50px;
            color: @white;
            background-color: @black;
            transition: all 0.2s;
            width: 150px;
            max-height: 40px;
            // z-index: 2;
            align-content: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;            // --> El cursor, al estar encima de este elemento, accionará como si estuviese encima de un elemento clicable



            // --> Esto es lo mismo que si ponemos .texto:hover, solo que podemos aplicarlo directamente mediante el &(.texto):hover.
            // --> Se encarga de si pasas el ratón por encima hace x acciones.
            &:hover{
                color: @black;
                background-color: @white;
                transition: all 0.2s;
                // transform: scale(1.1);
            }

        }
    }

}




// --> Contenedor general
.content{
    align-content: center;
    text-align: center;
    background-color: @primary-color;
    height: 85vh;
    display: grid;                                      // --> Diseño de columnas
    grid-template-columns: repeat(2, minmax(0, 1fr));   // --> Creamos una plantilla de columnas, mediante un repeat() (que se encarga de repetir), aplicamos el número de columnas a repetir, en nuestro caso queremos añadir dos columnas, pues aplicamos 2. Seguidamente, aplicamos un minmax() que determina el mínimo y máximo, queremos que de mínimo ocupe 0 y de máximo el máximo espacio que pueda ocupar (1fr) -> 1frame. Aplicamos el minmax por temas de seguridad, para garantizar un correcto funcionamiento de él.
    opacity: 0;
    transition: all 1s;
    // overflow: hidden;
    // position: relative;

    @media(max-width: 768px){
        grid-template-columns: repeat(1, minmax(0, 1fr));   // --> En este caso, como la pantalla es más pequeña, no caben las dos columnas, para ello hacemos que solo se repita una vez -> una sola columna.
        opacity: 1;
        align-content: unset;                               // --> Desactivamos el align-content porque daba problemas
    }

    .left{
        // grid-column: span 2;
        transition: all 0.2s;
        align-content: center;
        padding: 10px 0px;

        img{
            width: 30%;
            border: 2px solid @black;
            border-radius: 50%;
            transition: all 0.2s;

            &:hover{
                transform: scale(1.1);
                transition: all 0.2s;
            }

            &:active{
                transform: scale(0.9);
            }

        }
    }

    .right{

        // display: none;
        // opacity: 0;
        transition: all 0.2s;

        .formulario{

            text-align: start;
            justify-items: anchor-center;
            padding: 60px;

            h1{
                margin: 0;
                margin-bottom: 80px;
                font-size: calc(@fs-large-extra + 1vw);
                position: relative;


                // --> El :before es un pseudoelemento el cual podemos añadir contenido sin crear un elemento de 0, por ejemplo, en este caso solamente queremos crear una línea debajo del título, así que para no tener que crear un elemento y relacionarlo con una clase, le añadimos un pseudoelemento.
                // --> Este se caracteriza por:
                //          content: "";                    --> Contenido
                //          top, bottom, left, rigth: ;     --> Posición
                //          position: absolute;             --> Importante este parámetro porque o sino no se ve, es el tipo de posición del elemento
                &:before{
                    position: absolute;
                    content: "";
                    bottom: -10px;
                    left: 0;
                    width: 50px;
                    height: 4px;
                    background-color: @black;
                }
            }

            >div{
                width: 300px;
                // text-align: center;

                label{
                    padding-left: 10px;
                    font-size: @fs-medium;
                }

                >input{

                    justify-self: center;
                    width: 100%;
                    padding: 10px;
                    border-radius: 50px;
                    border: 2px solid transparent;
                    background-color: @gray;
                    margin: 5px 0px 0px 0px;
                    font-size: @fs-small;

                }

            }


            // --> Contenedor del botón de enviar
            >.content-enviar{
                text-align: center;
                justify-items: center;

                >.enviar{
                    width: 50%;
                    justify-self: center;
                    background-color: @black;
                    transition: all 0.2s;
                    color: @white;

                    &:hover{
                        background-color: @white;
                        color: @black;
                        cursor: pointer;
                        border: 2px solid @black;
                        transition: all 0.2s;
                        transform: scale(1.1);
                    }

                    &:active{
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

}



// --> El contenedor fijado en la primera pantalla
.left-2{
    // grid-column: span 2;
    transition: all 0.2s;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    opacity: 1;
    background-color: @primary-color;

    @media(max-width: 768px){
        display: none;
    }

    img{
        width: 20%;
        border: 2px solid @black;
        border-radius: 50%;
        transition: all 0.2s;

        &:hover{
            transform: scale(1.1);
            transition: all 0.2s;
        }

        &:active{
            transform: scale(0.9);
        }

    }
}









// --> Clases que se añaden posteriormente a la hora de que el usuario haga ciertas acciones

.opacityMove{

    opacity: 1 !important;
    transition: all 1s;

}

.opacityMoveReverse{

    opacity: 0 !important;
    transition: all 1s;
    display: none !important;

}
